<template>
    <v-layout>
        <v-flex xs12 pa-4>
            <v-stepper v-model="step" class="elevation-6">
                <v-stepper-header>
                    <v-stepper-step :complete="step > 1" step="1">{{ formTitle }}</v-stepper-step>
                    <v-stepper-step :complete="step > 2" step="2">Select permissions</v-stepper-step>
                </v-stepper-header>
                <v-stepper-items>
                    <v-stepper-content step="1">
                        <v-card>
                            <v-card-text>
                            <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12>
                                <v-text-field
                                v-model="editedItem.name"
                                label="Role name"
                                :error-messages="nameErrors"
                                @input="$v.editedItem.name.$touch()"
                                @blur="$v.editedItem.name.$touch()"
                                required></v-text-field>
                                </v-flex>
                            </v-layout>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-4" flat @click.native="close">Cancel</v-btn>
                            <v-btn color="blue darken-4 white--text" @click.native="next()">Next</v-btn>
                        </v-card-actions>
                        </v-card>
                    </v-stepper-content>
                    <v-stepper-content step="2">
                        <v-card>
                            <v-card-text>
                            <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12>
                                    <v-select
                                    :items="permissions"
                                    item-text="name"
                                    item-value="id"
                                    v-model="editedItem.permissions"
                                    label="Select"
                                    multiple
                                    chips
                                    hint="Please select permissions for role"
                                    persistent-hint
                                    :error-messages="permissionsErrors"
                                    @input="$v.editedItem.permissions.$touch()"
                                    @blur="$v.editedItem.permissions.$touch()"
                                    required
                                    ></v-select>
                                </v-flex>
                            </v-layout>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-4" flat @click.native="close">Cancel</v-btn>
                            <v-btn color="blue darken-4" flat @click.native="step = 1">Back</v-btn>
                            <v-btn color="blue darken-4 white--text" @click.native="save">Save</v-btn>
                        </v-card-actions>
                        </v-card>
                    </v-stepper-content>
                </v-stepper-items>
            </v-stepper>
        </v-flex>
    </v-layout>
</template>
<script>
import { validationMixin } from "vuelidate";
import { rolesMixin } from "@/mixins/roleEdit";

export default {
  props: {
    roleId: null
  },
  mixins: [validationMixin, rolesMixin],
  data() {
    return {
      step: 1,
      permissions: [],
      editedItem: {
        name: ""
      }
    };
  },
  methods: {
    save() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        if (this.roleId !== -1) {
          this.$store.dispatch("updateRole", this.editedItem);
        } else {
          this.$store.dispatch("createRole", this.editedItem);
        }
        this.close();
      }
    },
    close() {
      // close edit component
      this.$store.dispatch("setRoleIdToEdit", null);
      this.$v.$reset();
    },
    next() {
      if (this.step == 1) {
        this.$v.editedItem.name.$touch();
        if (!this.$v.editedItem.name.$invalid) {
          this.step++;
        }
      }
    }
  },
  computed: {
    formTitle() {
      return this.roleId === -1
        ? "New Role"
        : `Edit Role: ${this.editedItem.name}`;
    }
  },
  created() {
    this.permissions = this.$store.getters.permissions;
    this.$store.dispatch("setSidePanelActive", false);
    if (this.roleId && this.roleId !== -1) {
      this.editedItem = this.$store.getters.roleById(this.roleId);
    }
  }
};
</script>
