<template>
    <v-layout>
        <v-flex xs12 pa-3>
            <v-data-table
            :headers="headers"
            :items="roles"
            :search="search"
            hide-actions
            :pagination.sync="pagination"
            >
            <template slot="items" slot-scope="props">
                <td>{{ props.item.name }}</td>
                <td>
                    <div class="text-xs-right">
                        <v-chip small v-for="(permission, index) in props.item.permissions.slice(0,3)" :key="index">{{ permission.name }}</v-chip>
                        <small class="grey--text" v-if="props.item.permissions.length > 3">(+{{ props.item.permissions.length - 3 }} others)</small>
                    </div>
                </td>
                <td class="text-xs-right">
                <v-icon
                    small
                    class="mr-2"
                    @click="editRole(props.item.id)"
                >
                    edit
                </v-icon>
                <v-icon
                    small
                    @click="deleteRole(props.item)"
                >
                    delete
                </v-icon>
                </td>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
                Your search for "{{ search }}" found no results.
            </v-alert>
            </v-data-table>
            <div class="text-xs-right pt-2 pr-2">
            <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
            </div>
        </v-flex>
    </v-layout>
</template>
<script>
export default {
  name: "roles",
  data() {
    return {
      pagination: {},
      headers: [
        {
          text: "Role",
          value: "name",
          class: ["header", "header--first"]
        },
        {
          text: "Permissions",
          value: "permissions",
          class: ["header"]
        },
        {
          text: "Actions",
          value: "name",
          sortable: false,
          class: ["header", "header--last"]
        }
      ]
    };
  },
  methods: {
    editRole(id) {
      this.$store.dispatch("setRoleIdToEdit", id);
    },
    deleteRole(item) {
      confirm("Are you sure you want to delete this item?") &&
        this.$store.dispatch("deleteRole", item);
    }
  },
  computed: {
    roles: {
      get() {
        const selected = this.$store.getters.sideSelect;
        const roles = this.$store.getters.roles;
        // if something selected in main App component
        if (selected.length > 0) {
          const s = roles.filter(role =>
            role.permissions.find(p => selected.includes(p.id))
          );
          return s;
        }

        return roles;
      },
      set() {}
    },
    search() {
      return this.$store.getters.sideSearch;
    },
    pages() {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) {
        return 0;
      }

      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      );
    }
  },
  created() {
    this.roles = this.$store.getters.roles;
    this.$store.dispatch("setSidePanelActive", true);
    this.$store.dispatch("setSideItems", this.$store.getters.permissions);
    this.$store.dispatch("setSideSelect", []);
    this.$store.dispatch("setSideFilterText", "Roles with permission");
  }
};
</script>

<style lang="scss">
</style>
