<template>
    <v-layout>
        <v-flex xs12 pa-4>
            <v-stepper v-model="step" class="elevation-6">
                <v-stepper-header>
                    <v-stepper-step :complete="step > 1" step="1">{{ formTitle }}</v-stepper-step>
                    <v-stepper-step :complete="step > 2" step="2">Select roles</v-stepper-step>
                </v-stepper-header>
                <v-stepper-items>
                    <v-stepper-content step="1">
                        <v-card>
                            <v-card-text>
                            <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12>
                                    <v-text-field
                                    v-model="editedItem.name"
                                    label="Name"
                                    :error-messages="nameErrors"
                                    @input="$v.editedItem.name.$touch()"
                                    @blur="$v.editedItem.name.$touch()"
                                    required></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-text-field
                                    v-model="editedItem.surname"
                                    label="Surname"
                                    :error-messages="surnameErrors"
                                    @input="$v.editedItem.surname.$touch()"
                                    @blur="$v.editedItem.surname.$touch()"
                                    required></v-text-field>
                                </v-flex>
                                <v-flex xs6>
                                    <v-text-field
                                    v-model="editedItem.email"
                                    label="Email"
                                    :error-messages="emailErrors"
                                    @input="$v.editedItem.email.$touch()"
                                    @blur="$v.editedItem.email.$touch()"
                                    required></v-text-field>
                                </v-flex>
                                <v-flex xs6>
                                    <v-text-field
                                    v-model="editedItem.phone"
                                    label="Phone"
                                    :error-messages="phoneErrors"
                                    @input="$v.editedItem.phone.$touch()"
                                    @blur="$v.editedItem.phone.$touch()"
                                    required></v-text-field>
                                </v-flex>
                            </v-layout>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-4" flat @click.native="close">Cancel</v-btn>
                            <v-btn color="blue darken-4 white--text" @click.native="next()">Next</v-btn>
                        </v-card-actions>
                        </v-card>
                    </v-stepper-content>
                    <v-stepper-content step="2">
                        <v-card>
                            <v-card-text>
                            <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12>
                                    <v-select
                                    :items="roles"
                                    item-text="name"
                                    item-value="id"
                                    v-model="editedItem.roles"
                                    label="Select"
                                    multiple
                                    chips
                                    hint="Select user roles"
                                    persistent-hint
                                    :error-messages="rolesErrors"
                                    @input="$v.editedItem.roles.$touch()"
                                    @blur="$v.editedItem.roles.$touch()"
                                    required></v-select>
                                </v-flex>
                            </v-layout>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-4" flat @click.native="close">Cancel</v-btn>
                            <v-btn color="blue darken-4" flat @click.native="step = 1">Back</v-btn>
                            <v-btn color="blue darken-4 white--text" @click.native="save">Save</v-btn>
                        </v-card-actions>
                        </v-card>
                    </v-stepper-content>
                </v-stepper-items>
            </v-stepper>
        </v-flex>
    </v-layout>
</template>
<script>
import { validationMixin } from "vuelidate";
import { usersMixin } from "@/mixins/userEdit";

export default {
  props: {
    userId: null
  },
  mixins: [validationMixin, usersMixin],
  data() {
    return {
      step: 1,
      roles: [],
      editedItem: {
        name: "",
        surname: "",
        email: "",
        phone: ""
      }
    };
  },
  methods: {
    save() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        if (this.userId !== -1) {
          this.$store.dispatch("updateUser", this.editedItem);
        } else {
          this.$store.dispatch("createUser", this.editedItem);
        }
        this.close();
      }
    },
    close() {
      // close edit component
      this.$store.dispatch("setUserIdToEdit", null);
      if (this.userId && this.userId !== -1) {
        this.editedItem = this.$store.getters.userById(this.userId);
      }
    },
    next() {
      if (this.step == 1) {
        this.$v.editedItem.name.$touch();
        this.$v.editedItem.surname.$touch();
        this.$v.editedItem.email.$touch();
        this.$v.editedItem.phone.$touch();

        if (
          !this.$v.editedItem.name.$invalid &&
          !this.$v.editedItem.surname.$invalid &&
          !this.$v.editedItem.email.$invalid &&
          !this.$v.editedItem.phone.$invalid
        ) {
          this.step++;
        }
      }
    }
  },
  computed: {
    formTitle() {
      return this.userId === -1
        ? "New User"
        : `Edit User: ${this.editedItem.name}`;
    }
  },
  created() {
    this.roles = this.$store.getters.roles;
    this.$store.dispatch("setSidePanelActive", false);
    if (this.userId && this.userId !== -1) {
      this.editedItem = this.$store.getters.userById(this.userId);
    }
  }
};
</script>
