<template>
    <v-layout>
        <v-flex xs12 pa-3>
            <v-data-table
            :headers="headers"
            :items="users"
            :search="search"
            hide-actions
            :pagination.sync="pagination"
            >
            <template slot="items" slot-scope="props">
                <td>{{ props.item.name }} {{ props.item.surname }}</td>
                <td>{{ props.item.email }} </td>
                <td>{{ props.item.phone }} </td>
                <td>
                    <div class="text-xs-right">
                        <v-chip small v-for="(role, index) in props.item.roles.slice(0,3)" :key="index">{{ role.name }}</v-chip>
                        <small class="grey--text" v-if="props.item.roles.length > 3">(+{{ props.item.roles.length - 3 }} others)</small>
                    </div>
                </td>
                <td class="text-xs-right">
                <v-icon
                    small
                    class="mr-2"
                    @click="editUser(props.item.id)"
                >
                    edit
                </v-icon>
                <v-icon
                    small
                    @click="deleteUser(props.item)"
                >
                    delete
                </v-icon>
                </td>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
                Your search for "{{ search }}" found no results.
            </v-alert>
            </v-data-table>
            <div class="text-xs-right pt-2 pr-2">
            <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
            </div>
        </v-flex>
    </v-layout>
</template>
<script>
export default {
  name: "users",
  data() {
    return {
      pagination: {},
      headers: [
        {
          text: "User",
          value: "name",
          class: ["header", "header--first"]
        },
        {
          text: "Email",
          value: "email",
          class: ["header"]
        },
        {
          text: "Phone",
          value: "phone",
          class: ["header"]
        },
        {
          text: "Roles",
          value: "roles",
          class: ["header"]
        },
        {
          text: "Actions",
          value: "name",
          sortable: false,
          class: ["header", "header--last"]
        }
      ]
    };
  },
  methods: {
    editUser(id) {
      this.$store.dispatch("setUserIdToEdit", id);
    },
    deleteUser(item) {
      confirm("Are you sure you want to delete this item?") &&
        this.$store.dispatch("deleteUser", item);
    }
  },
  computed: {
    users: {
      get() {
        const selected = this.$store.getters.sideSelect;
        const users = this.$store.getters.users;

        // if something selected in main App component
        if (selected.length > 0) {
          const s = users.filter(user =>
            user.roles.find(p => selected.includes(p.id))
          );
          return s;
        }

        return users;
      },
      set() {}
    },
    search() {
      return this.$store.getters.sideSearch;
    },
    pages() {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) {
        return 0;
      }

      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      );
    }
  },
  created() {
    this.users = this.$store.getters.users;
    this.$store.dispatch("setSidePanelActive", true);
    this.$store.dispatch("setSideItems", this.$store.getters.roles);
    this.$store.dispatch("setSideSelect", []);
    this.$store.dispatch("setSideFilterText", "Users with role");
  }
};
</script>

<style lang="scss">
</style>
