@import 'colors.scss';

.btn-group {
    
    &:after {
        content: "";
        clear: both;
        display: table;
    }

    .active  {
        background: $primary !important;
        color: $button-text-active !important;
        border-radius: .5em .5em 0 0 !important;
        padding: 10px 24px !important;
        height: 32px !important;
    }

    .button {
        font-size: .8em;
        background-color: $secondary;
        border: 1px solid $button-border;
        border-bottom: 1px solid $primary;
        border-radius: 0;
        color: $button-text;
        padding: 5px 24px;
        margin: 0;
        height: 26px;
        text-transform: none;
        cursor: pointer;
        vertical-align: bottom;
        display: inline-block;
        
        .v-icon {
            margin-right: 6px;
            font-size: 1.5em;
        }

        &:first-child {
            border-radius: .5em 0 0 0;
        }

        &:last-child {
            border-radius: 0 .5em 0 0;
        }

        &:not(:last-child) {
            border-right: none;
        }

        &:hover {
            background: $accent;
            color: $button-text-hover;
        }
    }
}