$primary: #f8d248;
$secondary: #e4be40;
$accent: #FFD740;
$error: #F44336;
$success: #4CAF50;
$info: #03A9F4;
$warning: #FFC107;

$button-border: #d8b33c;
$button-text:  #8d6820;
$button-text-active: #426081;
$button-text-hover: #ad873a;