@import 'colors.scss';

.v-stepper__header {
    
    background-color: $secondary;
    border: 1px solid $button-border;
    border-bottom: 1px solid $primary;
    border-radius: .5em .5em 0 0;
    color: $button-text;
    position: relative;
    overflow: hidden;

    .v-stepper__step--active {
        background-color: $primary;

        &::after {
            content: '';
            width: 0; 
            height: 0; 
            position: absolute;
            top: 0;
            left: 100%;
            border-top: 36px solid transparent;
            border-bottom: 36px solid transparent;
            border-left: 36px solid $primary;
        }

        &::before {
            content: '';
            width: 0; 
            height: 0; 
            position: absolute;
            top: 0;
            right: 100%;
            border-top: 36px solid $primary;
            border-bottom: 36px solid $primary;
            border-left: 36px solid $secondary;
        }
    }

    .v-stepper__step--active::after {
        
    }

    .v-stepper__label {
        color: $button-text-active !important;
    }
}