@import "@/styles/colors.scss";

thead tr {
  height: 46px !important;
}

.header {
  background: $primary;
  border-right: 1px solid white;
  font-weight: bold !important;

  &--first {
    border-radius: 0.5em 0 0 0;
  }

  &--last {
    border-radius: 0 0.5em 0 0;
  }
}