<template>
    <v-breadcrumbs class="breadcrumbs">
        <v-icon small>home</v-icon>
        <v-icon slot="divider">forward</v-icon>
        <v-breadcrumbs-item v-for="item in items" :key="item.name" active-class="active" :to="item.link">
            {{ item.name }}
        </v-breadcrumbs-item>
    </v-breadcrumbs>
</template>
<script>
export default {
  name: "breadcrumbs",
  data() {
    return {
      items: []
    };
  },
  watch: {
    $route() {
      this.updatePath();
    }
  },
  methods: {
    updatePath() {
      this.items = this.$route.meta.breadcrumb;
    }
  },
  mounted() {
    this.updatePath();
  }
};
</script>

<style lang="scss">
@import "@/styles/colors.scss";

.breadcrumbs {
  background: #f9f9f9;
  border-bottom: solid 1px #ebebeb;
  height: 40px;

  li {
    a.v-breadcrumbs__item {
      color: $button-text-active !important;
    }
  }
}
</style>
