<template>
    <v-toolbar flat dense color="white" class="nav-border">
        <v-layout align-end justify-left row fill-height class="nav">
            <div class="btn-group">
                <v-btn flat class="button" active-class="active" v-for="item in menu" :key="item.title" :to="item.link"><v-icon>{{ item.icon }}</v-icon>{{ item.title }}</v-btn>
            </div>
        </v-layout>
    </v-toolbar>
</template>
<script>
export default {
  data() {
    return {};
  },
  computed: {
    menu() {
      return this.$store.getters.menu;
    }
  }
};
</script>
<style lang="scss">
@import "@/styles/colors.scss";
.nav {
  height: 48px;
}

.nav-border {
  border-bottom: 2px solid $primary !important;
}
</style>
