<template>
    <v-toolbar flat dense color="#f2f2f2" class="sub-navigation">
        <v-toolbar-items>
            <v-btn depressed color="#dedede" to="/" active-class="no-class"><v-icon small>arrow_back_ios</v-icon></v-btn>
        </v-toolbar-items>
        <v-toolbar-title>{{ title }}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn v-if="buttonActivated" dark small color="secondary" class="elevation-1 my-button-secondary" @click="runButtonFunction()">
            <v-icon small class="mr-1">add_box</v-icon> {{ buttonData.buttonText }}
        </v-btn>
    </v-toolbar>
</template>
<script>
export default {
  props: {
    title: ""
  },
  methods: {
    runButtonFunction() {
      this.buttonData.buttonFn();
    }
  },
  computed: {
    buttonData: {
      get() {
        return this.$store.getters.subNavButton;
      },
      set() {}
    },
    buttonActivated() {
      return this.buttonData.buttonText !== "";
    }
  },
  created() {
    this.buttonData = this.$store.getters.subNavButton;
  }
};
</script>
<style lang="scss">
.sub-navigation {
  .v-toolbar__content {
    padding-left: 0 !important;
  }

  .v-btn {
    min-width: 36px;
    border-radius: 0;
  }
}
</style>
