<template>
    <v-layout>
      <v-flex xs12 v-if="loading">
        <v-progress-circular indeterminate class="amber--text"></v-progress-circular>
      </v-flex>
      <v-flex xs12 v-if="!loading">
        <transition name="slide" mode="out-in">
          <component :is="permissionId ? 'appPermissionEdit' : 'appPermissionsList'" :permissionId ="permissionId"></component>
        </transition>
      </v-flex>
    </v-layout>
</template>
<script>
import PermissionsList from "@/components/permissions/PermissionsList.vue";
import PermissionEdit from "@/components/permissions/PermissionEdit.vue";

export default {
  name: "permissions",
  data() {
    return {
      title: "Persmissions"
    };
  },
  computed: {
    permissionId() {
      return this.$store.getters.permissionIdToEdit;
    },
    loading() {
      return this.$store.getters.loading;
    }
  },
  methods: {
    createPermission() {
      this.$store.dispatch("setPermissionIdToEdit", -1);
    }
  },
  components: {
    appPermissionsList: PermissionsList,
    appPermissionEdit: PermissionEdit
  },
  created() {
    this.$store.dispatch("setSubnavigationTitle", this.title);
    this.$store.dispatch("setSubNavButton", {
      buttonFn: this.createPermission,
      buttonText: "New permission"
    });
  }
  // destroyed() {
  //   this.$store.dispatch("clearSubNavButtonData");
  // }
};
</script>

<style lang="scss">
</style>
