<template>
  <v-layout>
      <v-flex xs12 v-if="loading">
        <v-progress-circular indeterminate class="amber--text"></v-progress-circular>
      </v-flex>
      <v-flex xs12 v-if="!loading">
        <transition name="slide" mode="out-in">
          <component :is="roleId ? 'appRoleEdit' : 'appRolesList'" :roleId ="roleId"></component>
        </transition>
      </v-flex>
    </v-layout>
</template>

<script>
import RoleEdit from "@/components/roles/RoleEdit.vue";
import RolesList from "@/components/roles/RolesList.vue";

export default {
  name: "roles",
  data() {
    return {
      title: "User roles"
    };
  },
  computed: {
    roleId() {
      return this.$store.getters.roleIdToEdit;
    },
    loading() {
      return this.$store.getters.loading;
    }
  },
  methods: {
    createRole() {
      this.$store.dispatch("setRoleIdToEdit", -1);
    }
  },
  components: {
    appRoleEdit: RoleEdit,
    appRolesList: RolesList
  },
  created() {
    this.$store.dispatch("setSubnavigationTitle", this.title);
    this.$store.dispatch("setSidePanelActive", true);
    this.$store.dispatch("setSubNavButton", {
      buttonFn: this.createRole,
      buttonText: "New role"
    });
  }
  // destroyed() {
  //   this.$store.dispatch("clearSubNavButtonData");
  // }
};
</script>
