<template>
  <v-layout>
      <v-flex xs12 v-if="loading">
        <v-progress-circular indeterminate class="amber--text"></v-progress-circular>
      </v-flex>
      <v-flex xs12 v-if="!loading">
        <transition name="slide" mode="out-in">
          <component :is="userId ? 'appUserEdit' : 'appUsersList'" :userId ="userId"></component>
        </transition>
      </v-flex>
    </v-layout>
</template>

<script>
import UserEdit from "@/components/users/UserEdit.vue";
import UsersList from "@/components/users/UsersList.vue";

export default {
  name: "users",
  data() {
    return {
      title: "User management"
    };
  },
  computed: {
    userId() {
      return this.$store.getters.userIdToEdit;
    },
    loading() {
      return this.$store.getters.loading;
    }
  },
  methods: {
    createUser() {
      this.$store.dispatch("setUserIdToEdit", -1);
    }
  },
  components: {
    appUserEdit: UserEdit,
    appUsersList: UsersList
  },
  created() {
    this.$store.dispatch("setSubnavigationTitle", this.title);
    this.$store.dispatch("setSidePanelActive", true);
    this.$store.dispatch("setSubNavButton", {
      buttonFn: this.createUser,
      buttonText: "New user"
    });
  }
};
</script>
