<template>
    <v-layout>
    <v-flex xs12 pa-3>
        <v-data-table
        :headers="headers"
        :items="permissions"
        :search="search"
        hide-actions
        :pagination.sync="pagination"
        >
        <template slot="items" slot-scope="props">
            <td>{{ props.item.name }}</td>
            <td class="text-xs-right">
            <v-icon
                small
                class="mr-2"
                @click="editPermission(props.item.id)"
            >
                edit
            </v-icon>
            <v-icon
                small
                @click="deletePermission(props.item)"
            >
                delete
            </v-icon>
            </td>
        </template>
        <v-alert slot="no-results" :value="true" color="error" icon="warning">
            Your search for "{{ search }}" found no results.
        </v-alert>
        </v-data-table>
        <div class="text-xs-right pt-2 pr-2">
        <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
        </div>
    </v-flex>
    </v-layout>
</template>
<script>
export default {
  name: "permissions",
  data() {
    return {
      pagination: {},
      headers: [
        {
          text: "Permission",
          value: "name",
          class: ["header", "header--first"]
        },
        {
          text: "Actions",
          value: "name",
          sortable: false,
          class: ["header", "header--last"]
        }
      ]
    };
  },
  methods: {
    editPermission(id) {
      this.$store.dispatch("setPermissionIdToEdit", id);
    },
    deletePermission(item) {
      confirm("Are you sure you want to delete this item?") &&
        this.$store.dispatch("deletePermission", item);
    }
  },
  computed: {
    permissions: {
      get() {
        return this.$store.getters.permissions;
      },
      set() {}
    },
    search() {
      return this.$store.getters.sideSearch;
    },
    pages() {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      )
        return 0;

      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      );
    }
  },
  created() {
    this.permissions = this.$store.getters.permissions;
    this.$store.dispatch("setSidePanelActive", true);
    this.$store.dispatch("setSideItems", null); // clear filter items
  }
};
</script>

<style lang="scss">
</style>
