<template>
    <v-layout>
        <v-flex xs12 pa-4>
            <v-stepper v-model="step" class="elevation-6">
                <v-stepper-header>
                    <v-stepper-step :complete="step > 1" step="1">{{ formTitle }}</v-stepper-step>
                </v-stepper-header>
                <v-stepper-items>
                    <v-stepper-content step="1">
                        <v-card>
                            <v-card-text>
                            <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12>
                                <v-text-field
                                    v-model="editedItem.name"
                                    label="Permission name"
                                    :error-messages="nameErrors"
                                    @input="$v.editedItem.name.$touch()"
                                    @blur="$v.editedItem.name.$touch()"
                                    required></v-text-field>
                                </v-flex>
                            </v-layout>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-4" flat @click.native="close">Cancel</v-btn>
                            <v-btn color="blue darken-4 white--text" @click.native="save">Save</v-btn>
                        </v-card-actions>
                        </v-card>
                    </v-stepper-content>
                </v-stepper-items>
            </v-stepper>
        </v-flex>
    </v-layout>
</template>
<script>
import { validationMixin } from "vuelidate";
import { permissionsMixin } from "@/mixins/permissionEdit";

export default {
  props: {
    permissionId: null
  },
  mixins: [validationMixin, permissionsMixin],
  data() {
    return {
      step: 1,
      editedItem: {
        name: ""
      }
    };
  },
  created() {
    this.$store.dispatch("setSidePanelActive", false);
    if (this.permissionId && this.permissionId !== -1) {
      this.editedItem = this.$store.getters.permissionById(this.permissionId);
    }
  },
  methods: {
    save() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        if (this.permissionId !== -1) {
          this.$store.dispatch("updatePermission", this.editedItem);
        } else {
          this.$store.dispatch("createPermission", this.editedItem);
        }
        this.close();
      }
    },
    close() {
      // close edit component
      this.$store.dispatch("setPermissionIdToEdit", null);
      this.$v.$reset();
    }
  },
  computed: {
    formTitle() {
      return this.permissionId === -1
        ? "New Permission"
        : `Edit Permission: ${this.editedItem.name}`;
    }
  }
};
</script>
