<template>
  <v-app id="app">
    <app-nav></app-nav>
    <app-sub-nav :title="selectedComponentTitle"></app-sub-nav>
    <app-breadcrumbs></app-breadcrumbs>
    <v-navigation-drawer
      app
      permanent
      clipped
      :mini-variant="mini"
      class="elevation-right"
      v-if="sidePanel"
    >
    <v-container pa-1>
      <v-layout>
        <v-flex xs12>
          <v-list class="pa-1">
            <v-list-tile v-if="mini" @click.stop="mini = !mini">
            <v-list-tile-action>
              <v-icon>visibility</v-icon>
            </v-list-tile-action>
            </v-list-tile>

            <v-list-tile v-else>
            <v-list-tile-content>
              <v-list-tile-title>Filter</v-list-tile-title>
            </v-list-tile-content>

            <v-list-tile-action>
              <v-btn icon @click.stop="mini = !mini">
              <v-icon>visibility_off</v-icon>
              </v-btn>
            </v-list-tile-action>
            </v-list-tile>
          </v-list>
          </v-flex>
      </v-layout>
      <v-layout>
        <v-flex xs12>
          <v-card flat>
            <v-card-title>
              <v-text-field
                v-if="!mini"
                v-model="search"
                append-icon="search"
                label=""
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout class="filterItems">
        <v-flex>
          <v-list subheader v-if="items && !mini">
            <v-subheader>{{ sideFilterText }}</v-subheader>
            <v-list-tile v-for="(item, index) in items" :key="index">
              <v-list-tile-action>
                <v-checkbox v-model="selected" :value="item.id"></v-checkbox>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ item.name }} </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list>
        </v-flex>
      </v-layout>
    </v-container>
    </v-navigation-drawer>
    <v-content>
      <v-container fluid class="pt-0 pl-0 pr-0 white" >
        <router-view />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Navigation from "@/components/layout/Navigation";
import SubNavigation from "@/components/layout/SubNavigation";
import Breadcrumbs from "@/components/layout/Breadcrumbs";

export default {
  data() {
    return {
      mini: false
      // selected: []
    };
  },
  computed: {
    selectedComponentTitle() {
      return this.$store.getters.title;
    },
    search: {
      get() {
        return this.$store.getters.sideSearch;
      },
      set(value) {
        this.$store.dispatch("setSideSearch", value);
      }
    },
    items: {
      get() {
        return this.$store.getters.sideItems;
      },
      set(value) {
        this.$store.dispatch("setSideItems", value);
      }
    },
    sidePanel: {
      get() {
        return this.$store.getters.sidePanelActive;
      },
      set(value) {
        this.$store.dispatch("setSidePanelActive", value);
      }
    },
    sideFilterText: {
      get() {
        return this.$store.getters.sideFilterText;
      },
      set(value) {
        this.$store.dispatch("setSideFilterText", value);
      }
    },
    selected: {
      get() {
        return this.$store.getters.sideSelect;
      },
      set(value) {
        this.$store.dispatch("setSideSelect", value);
      }
    }
  },
  // watch: {
  //   selected: function(val) {
  //     this.$store.dispatch("setSideSelect", val);
  //   }
  // },
  components: {
    appNav: Navigation,
    appSubNav: SubNavigation,
    appBreadcrumbs: Breadcrumbs
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  aside {
    margin-top: 138px !important;

    .filterItems {
      overflow-y: auto;
      max-height: calc(100vh - 285px);
    }
  }

  .elevation-right {
    -webkit-box-shadow: 3px 0px 5px -1px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 3px 0px 5px -1px rgba(0, 0, 0, 0.14);
    box-shadow: 3px 0px 5px -1px rgba(0, 0, 0, 0.14);
  }
}
</style>
